/src/php/lib/ export-ignore
/src/php/test/ export-ignore
/.travis.yml export-ignore
/.composer.* export-ignore
/phpunit.xml export-ignore
/build.xml export-ignore
/data export-ignore
/*.md export-ignore
/.git* export-ignore
